@using Microsoft.AspNetCore.Mvc.Localization
@using technology_tp1.Services;
@using System.Web;


@inject IViewLocalizer Localizer
@inject ICartService Cart

@{
    ViewData["Title"] = "Cart";
}
<div id="emptyCartMessage" class="container">
    <div class="row">
        <h1>@Localizer["EmptyCartMessage"]</h1>
    </div>
</div>
<div class="container" id="cartItems">
    @foreach (var item in Cart.Items)
    {
        <div class="row menu-item modal-btn">
            <div class="col-sm-3 d-none d-md-block" style="background-image: url('data:image/png;base64,@item.MenuItem.Image.Small'); background-size: cover; background-position: center"></div>
            <div class="col-md-4 col-6">
                <p class="vertical-center">@item.MenuItem.Name</p>
            </div>
            <div class="col-md-2 col-2">
                <p class="vertical-center">@String.Format("{0:C}", item.MenuItem.Price)</p>
            </div>
            <div class="col-md-2 col-2">
                <p class="vertical-center item-quantity">@item.Quantity</p>
            </div>
            <div class="col-2 col-md-1 d-none d-sm-block">
                <p class="vertical-center text-center"><i class="vertical-center fas fa-minus fa-2x remove-item-btn"></i></p>
            </div>
            <data class="d-none"
                  itemId="@item.MenuItem.Id"
                  name="@item.MenuItem.Name"
                  price="@item.MenuItem.Price"
                  description="Description"
                  image="@item.MenuItem.Image.Small"
                  quantity="@item.Quantity" />
        </div>
    }
</div>
<div id="totalPrice" class="container">
    <div class="row">
        <h1>
            Total&nbsp;:&nbsp;
        </h1>
        <h1 class="price">0.00$</h1>
    </div>
</div>

@await Html.PartialAsync("_ItemModal", new ModalContent())


@section Scripts {
    <script type="text/javascript" src="~/js/BaseModal.js"></script>
    <script type="text/javascript" src="~/js/cartModal.js"></script>
    <script type="text/javascript" src="~/js/cart.js"></script>
}
