@using Microsoft.AspNetCore.Mvc.Localization
@using technology_tp1.Services;


@inject IViewLocalizer Localizer
@inject ICartService Cart
@inject AppDbContext context

@{
    ViewData["Title"] = "Cart";
}
<div id="cart" class="heading">
    <h2 id="CartEmpty">@Localizer["EmptyCartMessage"]</h2>
    <h2 id="CartNotEmpty">@Localizer["NotEmptyCartMessage"]</h2>
</div>

<h1 class="active" data-select="*"></h1>
<div id="cartItems" class="row">
    @foreach (var item in Cart.Items)
    {
        <div class="container menu-item">
            <div class="row food-menu active">
                <div class="sided-90x mb-30 ">
                    <div class="s-left"><img class="br-3" src="data:image/png;base64,@item.MenuItem.Image.Small" alt="Menu Image"></div><!--s-left-->
                    <div class="s-right">
                        <h5 class="mb-10">
                            <b>@item.MenuItem.Name</b>
                            <b class="color-primary float-right">
                                @String.Format("{0:C}", item.MenuItem.Price)
                                <br />
                                (<span class="item-quantity">@item.Quantity</span>)
                            </b>
                        </h5>
                        <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                    </div><!--s-right-->
                </div><!-- sided-90x -->
                <data class="d-none"
                      itemId="@item.MenuItem.Id"
                      name="@item.MenuItem.Name"
                      price="@item.MenuItem.Price"
                      description="@item.MenuItem.Description"
                      image="@item.MenuItem.Image.Small"
                      quantity="@item.Quantity" />
            </div><!-- food-menu -->
            <div class="d-flex">
                <div class="col-sm-6 d-flex flex-row-reverse">
                    <button class="plr-10 btn-fill-primary remove-item-btn">@Localizer["BtnRemoveOne"]</button>
                </div>
                <div class="col-sm-6">
                    <button class="plr-10 btn-fill-primary remove-all-item-btn">@Localizer["BtnRemoveAll"]</button>
                </div>
            </div>
        </div><!-- container -->
    }
</div><!-- row -->
<div class="row">
    <button class="w-100 btn-fill-primary plr-10 order-btn">@Localizer["Order"]</button>
</div><!-- row -->
<div class="row">
</div><!-- row -->

<div id="totalPrice" class="footer">
    <h1>
        Total&nbsp;:&nbsp;<span class="price">0.00$</span>
    </h1>
</div>
@{
    ModalContent modalContent = new ModalContent();
    modalContent.Content = await Html.PartialAsync("_OrderForm", new technology_tp1.Models.Order());
    modalContent.Width = ModalContent.ModalWidth._50;
}

@await Html.PartialAsync("_Modal", modalContent)

@section Scripts {
    <script type="text/javascript" src="~/js/BaseModal.js"></script>
    <script type="text/javascript" src="~/js/cartModal.js"></script>
    <script type="text/javascript" src="~/js/cart.js"></script>
}