@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["welcome"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model.MenuItems)
{
<div class="row modal-btn menu-item">
    <div class="col-sm-3 d-none d-md-block" style="background-image: url('data:image/png;base64,@item.Image.Small'); background-size: cover; background-position: center"></div>
    <div class="col-sm-9">
        @item.Name
    </div>
    <data class="d-none"
          name="@item.Name"
          price="@item.Price"
          description="Description"
          image="@item.Image.Small"/>
</div>
}


<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="container-fluid h-100 d-flex flex-column">
            <div class="row flex-row-reverse">
                <div class="modal-close">&times;</div>
            </div>
            <div class="row flex-grow-1">
                <div id="modalPicture" class="col-lg-4">
                </div>
                <div id="modalContent" class="col-lg-8">
                    Texte
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/menuItemModal.js"></script>
}
