@model technology_tp1.Controllers.HomeController
@using Microsoft.AspNetCore.Mvc.Localization
@using technology_tp1.Controllers;


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <div class="heading">
        <img class="heading-img" src="images/heading_logo.png" alt="">
        <h2>@Localizer["MenuTitle"]</h2>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="selecton brdr-b-primary mb-70">
                <li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
                @foreach (var c in technology_tp1.Extension.EnumExtension.GetValues<technology_tp1.Models.Category>())
                {
                    <li><a href="#" data-select="@c"><b>@Model.CategoryTranslator.Translate(@c)</b></a></li>
                }
            </ul>
        </div><!--col-sm-12-->
    </div><!--row-->

    <div class="row">
        @foreach (var item in Model.MenuItems)
        {
            <div class="col-md-6 food-menu modal-btn @item.Category">
                <div class="sided-90x mb-30 ">
                    <div class="s-left"><img class="br-3" src="data:image/png;base64,@item.Image.Small" alt="Menu Image"></div><!--s-left-->
                    <div class="s-right">
                        <h5 class="mb-10"><b>@item.Name</b><b class="color-primary float-right">@String.Format("{0:C}", item.Price)</b></h5>
                        <div class="row">
                            <div class="col-sm-9">
                                @item.Description
                            </div>
                            <div class="col-sm-3">
                                <button class="w-100 btn-fill-primary plr-10">@Localizer["AddToCart"]</button>
                            </div>
                        </div>
                    </div><!--s-right-->
                </div><!-- sided-90x -->
                <data class="d-none"
                      itemId="@item.Id"
                      name="@item.Name"
                      price="@item.Price"
                      description="@item.Description"
                      image="@item.Image.Small"
                      category="@item.Category" />
            </div><!-- food-menu -->
        }
    </div><!-- row -->
</div><!-- container -->


@{
    ModalContent modalContent = new ModalContent();
    modalContent.SetContentFromRazor(
    @<form id="addForm" class="form-inline">
        <input type="hidden" id="@HomeController.FormNameIdItem" name="@HomeController.FormNameIdItem" value="-1">
        <div class="form-group mb-2 mr-sm-2">
            <label class="mb-2 mr-sm-2" for="@HomeController.FormNameQuantity">Quantity:</label>
            <input type="number" class="form-control" id="@HomeController.FormNameQuantity" name="@HomeController.FormNameQuantity" value="1" min="1">
        </div>
        <button type="submit" class="btn-fill-primary plr-10">Submit</button>
    </form>);
}

@await Html.PartialAsync("_Modal", modalContent)

@section Scripts {
    <script type="text/javascript" src="~/js/BaseModal.js"></script>
    <script type="text/javascript" src="~/js/menuModal.js"></script>
    <script type="text/javascript" src="~/js/menu.js"></script>
}

